@font-face {
  font-family: 'WorkSans';
  src: url('./src/assets/fonts/WorkSans.ttf');
}

*, *::after, *::before
  box-sizing border-box
  font-size: 1rem;

head 
  scroll-behavior: smooth

:root 
  // Light Mode
  // --fontColor: hsl(261, 81%, 14%) 
  // --backgroundColor: hsl(27, 51%, 75%)
  // --secondaryColor: hsl(276, 67%, 29%)


  // Dark Mode
  --fontColor: hsl(27, 62%, 72%)
  --backgroundColor:#1b0741
  --secondaryColor: hsl(34, 75.50%, 53.50%);
  // --bodyColor: hsl(27, 62%, 42%)

  background-color: var(--backgroundColor)
  color: var(--fontColor)
  // font-family: 'WorkSans'