@import "colors.styl"

.profile
  display flex
  gap 32px
  min-height 250px
  max-width @min-height * 2
  padding 16px
  color darkColor
  border-radius 24px
  align-items center

  &__pic
    width 150px

    img 
      border-radius 100svh

  &__name
    margin-block-end 8px
    font-size 2.5rem
    font-weight 600

  &__position
    font-size 1rem
    font-weight 400